.popupWrapper{
    padding-left: 15px;
}

.popupWrapperOnOpen{
    transition: all 0.5s ease-in-out;
}
.popupWrapperOnClose{
    transition: all 0.5s ease-in-out;
    transform: translateY(-900px); 
}

.popupContent{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 50px;
}
.popupContentButtons{
    display: flex;
    flex-direction: row;
    margin-top: 13px;
}
.popupInput{
    width: 218px;
    margin-top: 18px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #EFEFEF;
    background: #FFF;
    text-align: left;
    padding-left: 11px;
}
.popupContentInputWrapper{
    display: flex;
    align-items: flex-start;
}
.popupButtonAccept{
    width: 120px;
    height: 37px;
    background-color: #4DD599;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.popupButtonReject{
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: rgb(215, 212, 212);
    border: none;
    width: 100px;
    height: 37px;
}